@require 'nib'
@require '../../root'

json('../../vars.json')

$black26 = alpha(#000, 0.26)
$black12 = alpha(#000, 0.12)
$white30 = alpha(#fff, 0.30)
$white12 = alpha(#fff, 0.12)

@keyframes z-ripple-animation
  from
    transform: scale(1)
    opacity: 0.25
  to
    transform: scale(100)
    opacity: 0

.z-button
  min-height: 4.8rem
  min-width: 4.8rem
  display: inline-block
  position: relative
  background: transparent
  text-align: center
  outline: none
  user-select: none
  cursor: pointer

  > .button
    z-font-button()
    display: inline-block
    position: relative
    box-sizing: border-box
    padding: 0 0.8rem
    min-width: 8.8rem
    min-height: 3.6rem
    line-height: 3.6rem
    margin: 0.4rem
    background: transparent
    text-align: center
    outline: none
    border-radius: 2px
    user-select: none
    cursor: pointer
    overflow: hidden

    &.short
      min-width: 4.8rem

    &.light-text
      color: $white

    &[disabled]
      cursor: auto
      pointer-events: none

    &.flat
      &:hover
        background: alpha(#999, 0.20)

      &:active
        background: alpha(#999, 0.40)

      &[disabled]
        color: $black26

    &.flat-dark
      color: $white

      &:hover
        background: alpha(#ccc, 0.15)

      &:active
        background: alpha(#ccc, 0.25)

      &[disabled]
        color: alpha(#fff, 0.30)


    &.raised
      z-shadow-1()

      &:active
        z-shadow-2()

      &[disabled]
        box-shadow: none
        background: $black12
        color: $black26

    &.raised-dark
      z-shadow-1()

      &:active
        z-shadow-2()

      &[disabled]
        box-shadow: none
        background: $white12
        color: $white30
