@require 'nib'
@require 'zorium-paper/base'

json('zorium-paper/colors.json')

.z-font-demo
  padding: 20px

  > .demo
    > .var
      display: inline-block
      width: 100px

    > .display4
      zp-font-display4()
    > .display3
      zp-font-display3()
    > .display2
      zp-font-display2()
    > .display1
      zp-font-display1()
    > .headline
      zp-font-headline()
    > .title
      zp-font-title()
    > .subhead
      zp-font-subhead()
    > .body2
      zp-font-body2()
    > .body1
      zp-font-body1()
    > .caption
      zp-font-caption()
    > .button
      zp-font-button()
