@require 'nib'
@require '../../root'

json('../../vars.json')

.z-font-demo

  > .demo
    > .var
      display: inline-block
      width: 100px

    > .display4
      z-font-display4()
    > .display3
      z-font-display3()
    > .display2
      z-font-display2()
    > .display1
      z-font-display1()
    > .headline
      z-font-headline()
    > .title
      z-font-title()
    > .subhead
      z-font-subhead()
    > .body2
      z-font-body2()
    > .body1
      z-font-body1()
    > .caption
      z-font-caption()
    > .button
      z-font-button()
